@using Microsoft.AspNetCore.Identity
@using SlvTeam.Domain.Entities
@inject SignInManager<SlvTeamUser> SignInManager
@inject UserManager<SlvTeamUser> UserManager

<ul class="navbar-nav">
    @if(User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="fas fa-tools"></i>
                Админ-панель
            </a>
        </li>
    }
    @if(SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline">
                <button class="nav-link btn btn-link text-dark" asp-area="" asp-controller="Profiles" asp-action="Profile">
                    <i class="fas fa-user"></i>
                    Мой профиль
                </button>
            </form>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fas fa-sign-out-alt"></i>
                    Выйти
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus"></i>
                Регистрация
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Profile","Profiles")">
                <i class="fas fa-sign-in-alt"></i>
                Войти
            </a>
        </li>
    }
</ul>