@{
    ViewData["Title"] = "Админ-панель";
}

<h2>@ViewData["Title"]</h2>
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Вы находись в разделе администрирования сайта.</p>
    <hr class="my-4">
    <p>Выберите действие:</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="Admin" asp-controller="Profiles" asp-action="AllUsers">
            Все пользователи
        </a>
        <form method="post" asp-area="Admin" asp-controller="Message" asp-action="DeleteAllMessage">
            <button type="submit" class="btn btn-danger btn-lg" >
                Удалить все сообщения в чате
            </button>
        </form>
       
    </p>
</div>